body {
  display: flex;
  justify-content: center;
  /* background-color: rgb(241, 222, 199); */
}

.calculator {
  display: flex;
  align-items: center;
  max-width: 400px;
  justify-content: space-around;
  flex-flow: wrap row;
  background-color: rgb(98, 121, 138);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: -2px 2px rgb(79, 82, 82);
  height: 600px;
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.calculator-buttons {
  display: flex;
  flex-flow: row wrap;
  height: calc(85% - 30px);
  align-content: space-between;
}

.output {
  height: 15%;
  flex: 0 1 calc(100% - 30px);
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(56, 58, 58);
  box-shadow: inset 0 0 10px rgb(0, 0, 0);
  color: white;
  display: flex;
  /* flex-flow: row wrap; */
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
}

.operand,
.first-operand {
  width: 370px;
  color: white;
  text-align: right;
  /* background-color: rgb(56, 58, 58); */
}

.operand {
  font-size: 40px;
}

.first-operand {
  font-size: 20px;
}
.button {
  height: calc(20% - 6px);
  flex: 1 1 calc(25% - 20px);
  background-color: rgba(255, 255, 255, 0.486);
  box-shadow: 2px 2px 4px;
  margin: 2px;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 5px;
}

.button:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 2px;
  /* transform: translateX(1px); */
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.904);
}
